/** 重置文本格式元素 **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}

/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** 重置表格元素 **/
.el-overlay {
  display: flex;
  justify-content: center;
}

/** 覆盖全局el样式 **/
.el-overlay-dialog {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

.el-dialog {
  width: auto;
}
