@font-face {
  font-family: "iconfont"; /* Project id 2585362 */
  src: url('iconfont.woff2?t=1645240949632') format('woff2'),
       url('iconfont.woff?t=1645240949632') format('woff'),
       url('iconfont.ttf?t=1645240949632') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-close:before {
  content: "\e747";
}

.icon-ellipsis:before {
  content: "\e74f";
}

.icon-rate:before {
  content: "\e772";
}

.icon-export:before {
  content: "\e63d";
}

.icon-switch:before {
  content: "\e607";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-qr-code:before {
  content: "\e7ad";
}

.icon-qq:before {
  content: "\e882";
}

.icon-github:before {
  content: "\e885";
}

.icon-delete-line:before {
  content: "\ec84";
}

.icon-bottom-line:before {
  content: "\ec89";
}

.icon-unlock:before {
  content: "\e721";
}

.icon-lock:before {
  content: "\e79a";
}

.icon-rote:before {
  content: "\e67c";
}

.icon-vertical-center:before {
  content: "\e661";
}

.icon-top-align:before {
  content: "\e652";
}

.icon-bottom-align:before {
  content: "\ed2f";
}

.icon-border:before {
  content: "\e600";
}

.icon-background-color:before {
  content: "\ec5b";
}

.icon-fore-color:before {
  content: "\ec5c";
}

.icon-save:before {
  content: "\e626";
}

.icon-delete:before {
  content: "\e629";
}

.icon-redo:before {
  content: "\e62a";
}

.icon-undo:before {
  content: "\e62b";
}

.icon-align-center:before {
  content: "\e62c";
}

.icon-left-align:before {
  content: "\e62d";
}

.icon-right-align:before {
  content: "\e62e";
}

.icon-all-align:before {
  content: "\e62f";
}

.icon-level-left-align:before {
  content: "\e630";
}

.icon-vertical-left-align:before {
  content: "\e631";
}

.icon-level-center-align:before {
  content: "\e632";
}

.icon-vertical-bottom-align:before {
  content: "\e633";
}

.icon-level-right-align:before {
  content: "\e634";
}

.icon-level-average-align:before {
  content: "\e635";
}

.icon-vertical-top-align:before {
  content: "\e636";
}

.icon-vertical-average-align:before {
  content: "\e637";
}

.icon-preview:before {
  content: "\e638";
}

.icon-send:before {
  content: "\e639";
}

.icon-height:before {
  content: "\e65f";
}

.icon-width:before {
  content: "\e660";
}

.icon-function:before {
  content: "\ec56";
}

.icon-js:before {
  content: "\ec68";
}

.icon-italic:before {
  content: "\ec85";
}

.icon-font-size:before {
  content: "\ec88";
}

.icon-transition:before {
  content: "\e627";
}

.icon-input:before {
  content: "\eb9c";
}

.icon-rectangle:before {
  content: "\eb9d";
}

.icon-unfull-screen:before {
  content: "\ec13";
}

.icon-full-screen:before {
  content: "\ec14";
}

.icon-more:before {
  content: "\ec1c";
}

.icon-code:before {
  content: "\ec2e";
}

.icon-link:before {
  content: "\ec7f";
}

.icon-bold:before {
  content: "\ec83";
}

.icon-template:before {
  content: "\eb61";
}

.icon-widget:before {
  content: "\eb63";
}

.icon-custom:before {
  content: "\eb6a";
}

.icon-app:before {
  content: "\eb8f";
}

.icon-table:before {
  content: "\eb94";
}

.icon-pie:before {
  content: "\eb95";
}

.icon-button:before {
  content: "\eb96";
}

.icon-card:before {
  content: "\eb97";
}

.icon-line:before {
  content: "\eb98";
}

.icon-pillar:before {
  content: "\eb99";
}

.icon-image:before {
  content: "\eb9a";
}

.icon-text:before {
  content: "\eb9b";
}

.icon-tree:before {
  content: "\ebd8";
}

.icon-next:before {
  content: "\ebef";
}

.icon-previous:before {
  content: "\ebf0";
}

.icon-refresh:before {
  content: "\ec08";
}

.icon-release:before {
  content: "\ec0a";
}

.icon-list:before {
  content: "\ec6b";
}

.icon-copy:before {
  content: "\ec7a";
}

.icon-edit:before {
  content: "\ec7c";
}

.icon-add-image:before {
  content: "\ec7d";
}

.icon-ul:before {
  content: "\ec80";
}

.icon-share:before {
  content: "\ed2e";
}

